
<div>
    <script type='text/javascript' src='@Model.Url/document-viewer/GetScript@(Model.UseHttpHandlers ? "Handler" : "")?name=libs/jquery-1.9.1.min.js'></script>
    <script type='text/javascript' src='@Model.Url/document-viewer/GetScript@(Model.UseHttpHandlers ? "Handler" : "")?name=libs/jquery-ui-1.10.3.min.js'></script>
    <script type='text/javascript' src='@Model.Url/document-viewer/GetScript@(Model.UseHttpHandlers ? "Handler" : "")?name=libs/knockout-2.2.1.js'></script>
    <script type='text/javascript' src='@Model.Url/document-viewer/GetScript@(Model.UseHttpHandlers ? "Handler" : "")?name=libs/turn.min.js'></script>
    <script type='text/javascript' src='@Model.Url/document-viewer/GetScript@(Model.UseHttpHandlers ? "Handler" : "")?name=libs/modernizr.2.6.2.Transform2d.min.js'></script>
    <script type='text/javascript'>
        if (!window.Modernizr.csstransforms)
            $.ajax({
                url: '@Model.Url/document-viewer/GetScript@(Model.UseHttpHandlers ? "Handler" : "")?name=libs/turn.html4.min.js',
                dataType: 'script',
                type: 'GET',
                async: false
            });
    </script>
    <script type='text/javascript' src='@Model.Url/document-viewer/GetScript@(Model.UseHttpHandlers ? "Handler" : "")?name=installableViewer.min.js'></script>
    <script type='text/javascript'>
        $.fn.groupdocsViewer.prototype.applicationPath = '@Model.Url/';
    </script>
    <script type='text/javascript'>
        $.fn.groupdocsViewer.prototype.useHttpHandlers = @(Model.UseHttpHandlers ? "true" : "false");
    </script>
    <script type='text/javascript' src='@Model.Url/document-viewer/GetScript@(Model.UseHttpHandlers ? "Handler" : "")?name=GroupdocsViewer.all.min.js'></script>
    <link rel='stylesheet' type='text/css' href='@Model.Url/document-viewer/CSS/GetCss@(Model.UseHttpHandlers ? "Handler" : "")?name=bootstrap.css'/>
    <link rel='stylesheet' type='text/css' href='@Model.Url/document-viewer/CSS/GetCss@(Model.UseHttpHandlers ? "Handler" : "")?name=GroupdocsViewer.all.min.css'/>
    <link rel='stylesheet' type='text/css' href='@Model.Url/document-viewer/CSS/GetCss@(Model.UseHttpHandlers ? "Handler" : "")?name=jquery-ui-1.10.3.dialog.min.css'/>

    <div id="groupdocsViewerDotNet" style="width: @Model.Width; height: @Model.Height; position: relative;margin-bottom: 20px;"></div>

    <script type="text/javascript">
        $(function () {
            var localizedStrings = null;
            var thumbsImageBase64Encoded = null;
            $('#groupdocsViewerDotNet').groupdocsViewer({
                filePath: '@Model.DefaultFileName',
                docViewerId: 'doc_viewer1',
                quality: 100,
                showThumbnails: true,
                openThumbnails: true,
                initialZoom: 100,
                zoomToFitWidth: true,
                zoomToFitHeight: false,
                width: 0,
                height: 0,
                backgroundColor: '',
                showFolderBrowser: true,
                showPrint: true,
                showDownload: true,
                showZoom: true,
                showPaging: true,
                showViewerStyleControl: true,
                showSearch: true,
                preloadPagesCount: 0,
                viewerStyle: 1,
                supportTextSelection: true,
                usePdfPrinting: false,
                localizedStrings: localizedStrings,
                thumbsImageBase64Encoded: thumbsImageBase64Encoded,
                toolbarButtonsBoxShadowStyle: '',
                toolbarButtonsBoxShadowHoverStyle: '',
                thumbnailsContainerBackgroundColor: '',
                thumbnailsContainerBorderRightColor: '',
                toolbarBorderBottomColor: '',
                toolbarInputFieldBorderColor: '',
                toolbarButtonBorderColor: '',
                toolbarButtonBorderHoverColor: '',
                thumbnailsContainerWidth: 0,
                jqueryFileDownloadCookieName: 'jqueryFileDownloadJSForGD',
                showDownloadErrorsInPopup: false,
                showImageWidth: false,
                showHeader: true,
                minimumImageWidth: 0,
                enableStandardErrorHandling: true
            });
        });
    </script>
</div>